ul li a.active{
  background: none !important;
  color: #FF444A !important;
  text-decoration: underline;
  font-weight: 700;
}

ul li a:active{
  background: none !important;
  color: #0B0B0B !important;
}

ul li a:hover{
  background: none !important;
}